body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
}

h1 {
    color: #007bff;
    font-weight: bold;
}

p.lead {
    font-size: 18px;
    color: #555;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}
